@model IEnumerable<Luncher.Core.Entities.Restaurant>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @{
        var culture = new System.Globalization.CultureInfo("cs-CZ");
        var day = culture.DateTimeFormat.GetDayName(DateTime.Today.DayOfWeek);
        <h1 class="display-4">Dneska je @day</h1>
    }
</div>

<div>
    @foreach(var restaurant in Model)
    {
        <h2>@restaurant.Name</h2>
        <br />
        <h5>Polévky</h5>
        @foreach(var soap in restaurant.Menu.Soaps)
        {
           <div>@soap.Name</div> 
        }
        <br />

         <h5>Hlavní</h5>
        @foreach(var meal in restaurant.Menu.Meals)
        {
           <div>@meal.Name</div> 
        }

        <hr />
    }
</div>
